<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="tailwind.css">
    <title>Cervix Cancer Screening</title>
  </head>
  <body>
    <!-- <div class="container-fluid mt-5">
      <form class="mb-3">
        <label for="formFile" class="form-label">File input</label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          accept="image/jpeg"
        />

        <button id="subImg" class="btn btn-primary">Upload</button>
      </form>
      
      <div class="mt-3 w-100 d-flex justify-content-center">
        <img src="./img/placeholder.png" id="imgPrev" class="w-50" />
      </div>
    </div> -->
    <div class="p-4 h-screen grid grid-cols-12 divide-x divide-gray-300 gap-4 font-family-sans">
      <div class="col-span-2 p-2">
              <h1 class="text-black-500 text-xl font-bold">Upload Image</h1>
              <div class="mt-10">
                      <h3 class="text-black-300 text-sm font-bold">Upload a PNG/JPEG File:</h3>
                      <!-- action="{{ url_for('classify_image') }}" method="post" -->
                      <form class="mt-5" id="form" >
                      <label for="formFile">
                              <span class="mt-2 text-base leading-normal mt-2 rounded-md bg-blue-100  py-2 px-4 bg-blue cursor-pointer">Select a file</span>
                              <input type='file' id="formFile" name="formFile" class="hidden cursor-pointer" accept="image/png, image/jpeg"/>
                      </label>
                      <p id="imgName" class="pt-3">No file Chosen</p>
                      <input type="hidden" name="image_data" id="image_data" class="hidden">
                      <button id="subImg" type="submit" class="mt-2 text-base leading-normal mt-2 rounded-md bg-blue-100  py-2 px-4 bg-blue cursor-pointer">Upload</button>
                    </form>
              </div>
              <div class="mt-20" id="resultTable">
                      <h3 class="text-black-300 text-lg font-bold">Detected Cancer</h3>
                      <table class="table-fixed mt-5 shadow-lg bg-white">
                              <thead>
                                      <tr>
                                              <th class="w-1/2 bg-blue-100 border text-left px-4 py-2 text-sm">Cancer Type</th>
                                              <th class="w-1/2 bg-blue-100 border text-left px-4 py-2 text-sm">Probability</th>
                                      </tr>
                              </thead>
                              <tbody>
                                      <tr>
                                              <td class="border px-4 py-2" id="cancerType">Type 1</td>
                                              <td class="border px-4 py-2" id="cancerProb">94.48%</td>
                                      </tr>
                              </tbody>
                     </table>
              </div>
      </div>
      <div class="col-span-5 w-100 p-5">
              <h1 class="text-black-500 text-xl font-bold">Image</h1>
              <div class="mt-5 w-100" >
                      <img src="placeholder.png" id="imgPrev" alt="" height="100%" width="auto" class="rounded">
              </div>
      </div>
      <div class="col-span-5 p-2">
              <h1 class="text-black-500 text-xl font-bold">Plots</h1>
              <div class="mt-5">
                
                  <canvas id="myChart" width="400" height="400"></canvas></canvas>
             
              </div>
      </div>
</div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  
    <script>
    var loadedFile;
    var base64String;
    var url = "https://git.heroku.com/cancer-ai-screening.git"
      let subImg = document.querySelector("#subImg")
      let imgName = document.querySelector("#imgName")
      let image_data = document.querySelector("#image_data")
      let form = document.querySelector("#form")
      let resultTable = document.querySelector("#resultTable")
      let cancerType= document.querySelector("#cancerType")
      let cancerProb= document.querySelector("#cancerProb")
      var ctx = document.getElementById('myChart').getContext('2d');
      
      let data = [0,0,0]
      var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Type_1', 'Type_2', 'Type_3'],
        datasets: [{
            label: 'Probability',
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',             
                'rgba(75, 192, 192, 0.2)',
              
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',              
                'rgba(75, 192, 192, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
      console.log(resultTable)
      resultTable.style.display= "none"

            formFile.onchange = (evt) => {
        const [file] = formFile.files;
        console.log(formFile.files)
        if (file) {
          imgPrev.src = URL.createObjectURL(file);
          imgName.innerHTML = formFile.files[0].name
          loadedFile=file
          var fileReader = new FileReader();

      fileReader.onload = function(fileLoadedEvent) {
        base64String = fileLoadedEvent.target.result; // <--- data: base64
        image_data.value = fileLoadedEvent.target.result;
        console.log(image_data.value)
        console.log(base64String)
      }
      fileReader.readAsDataURL(file);

      //clear chart
      myChart.data.datasets[0].data = [0,0,0];
      myChart.update();

      //remove result table
      resultTable.style.display= "none"
        }
      };

form.addEventListener("submit",async (e)=>{
  e.preventDefault()
  console.log(typeof base64String)


fetch(`${url}/classify_imge`, {
  method: "POST",
  body: JSON.stringify({image_data:base64String}),
  headers: {"Content-type": "application/json; charset=UTF-8"}
}).then(response => response.json()).then(json => {
  data = json["probability"].map(x=>x*100)

  myChart.data.datasets[0].data = data;
  myChart.update();
  cancerType.textContent = json["class"]
  cancerProb.textContent = (json["probability"][parseInt(json["class"].split(" ")[1])-1]*100).toFixed(2) + "%"

  resultTable.style.display="block"
  return
})
.catch(err => console.log(err));
})

  



</script>

  </body>
</html>
